<div>
  <form (ngSubmit)="onSubmit(inputValue)" #form="ngForm">
    <div>
      <label for="inputField">Input Field:</label>
      <input
        type="text"
        id="inputField"
        name="inputField"
        [(ngModel)]="inputValue"
        #inputField="ngModel"
        required
        minlength="45"
      />
      <div *ngIf="inputField.invalid && (inputField.dirty || inputField.touched)">
        <div *ngIf="inputField.errors?.['required']">Field is required.</div>
        <div *ngIf="inputField.errors?.['minlength']">
          Minimum length is 45 characters.
        </div>
      </div>
    </div>
    <button (click)="this.onSubmit(inputValue)" [disabled]="form.invalid">Submit</button>
  </form>
</div>
